<!DOCTYPE html>
<html>
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
  
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/scripts/jquery-ui.min.js" ></script>

    <title>{% if page.title %}{{ site.title | escape }} | {{page.title | escape }} {% else %} {{ site.title | escape }} {% endif %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/css/jquery-ui.css" rel="stylesheet">
    <meta name="description" content="{% if page.description %}{{ page.description | escape }} {% else %} {{ site.description | escape }} {% endif %}">

    <link rel="icon" 
      type="image/png" 
      href="./assets/images/logo2.png">


  </head>
    <body>

      <div class="header padded bottom-border" style="clear:right">

            <div class="clearfix">


              <div class="pull-left">
                <a href="/" class="nounderline">
                  <div class="mark">
                    <span class="uw">{{ site.title | escape }}</span>
                  </div>
                  <div class="padding-top">{{ site.description | escape }}</div>
                </a>
              </div>
              

              <div class="pull-right">
                PLATEAU 2019 co-located with
                <a href="http://uist.acm.org/uist2019/" title="UIST2019" target="_blank"><img src="./assets/images/uist2019.png" height="21px"></a>
                <div class="navbar-wrapper">

                      <div class="padding-top">
                        <div>
                          {% for link in site.navbar_links %}
                          <a
                            {% if link.newtab == true %}
                              target = "_blank"
                            {% endif %}
                            href="{{ link.url }}"><span class="navbarlink">{{ link.title }}</span></a>
                          {% endfor %}
                        </div>
                      </div>
                </div>
              </div>


            </div>

      </div>

      <div id="main">
        <div class="content">


        <p class="centered padded">

        <div class="centered">
        <div class="big"><span class="extra-big">PLATEAU</span>2019</div>
        <div>10th annual workshop on the intersection of HCI and PL</div>
        <div>
        <span>New Orleans, Louisiana</span>
        <span class="left-padding">October 24, 2019</span>
        <div class="centered">
        <table class="centered inlineblock">
        <tr>
        <td>
          <span>Co-located with </span></td>
          <td>
          <a href="http://uist.acm.org/uist2019/" title="UIST2019" target="_blank"><img src="./assets/images/uist2019.png" height="21px"></a>
          </td>
          </tr>
          </table>
        </div>
        </div>
        </div>

        </p>

        

<table>
<tr>
  <td class="small">

          {{ content }}


            </td>
  <td width="5px">
  </td>
  <td class="small" width="200px" style="overflow:hidden">
  
  <div class="box">
    <div class="header lead">
    Important Dates
    </div>
    <div class="margin-bottom">
      <div class="slightlybold">
        August 15, 2019 (AoE time)
      </div>
      <div>
        Paper Submission
      </div>
    </div>
    <div>
      <div class="slightlybold">
        September 13, 2019
      </div>
      <div>
        Workshop Registration
      </div>
    </div>
  </div>

  <div class="box">
    <div class="header lead">
    Registration Site
    </div>
    <div class="margin-bottom">
      <a href="https://starrez.housing.cmu.edu/StarRezPortalConference/Modules/Conference/ConferenceDetails.aspx?Params=L9ezxPcQnQvo2mu47qXm1G03uXNqEECHi%2fvin51ezp7wPRM3bP0az%2fH4AGCe7cFf" target="_blank">https://starrez.housing.cmu.edu/...</a>
    </div>
  </div>

  <div class="box">
    <div class="header lead">
    Submission Site
    </div>
    <div class="margin-bottom">
      <a href="https://easychair.org/conferences/?conf=plateau2019" target="_blank">https://easychair.org/conferences/?conf=plateau2019</a>
    </div>
  </div>

  <div class="box">
    <div class="header lead">
    Panel
    </div>
    <div class="margin-bottom">
      <div class="slightlybold">
        Titus Barik
      </div>
      <div>
        Microsoft Research
      </div>
    </div>
    <div class="margin-bottom">
      <div class="slightlybold">
        Amy J. Ko
      </div>
      <div>
        University of Washington
      </div>
    </div>
    <div>
      <div class="slightlybold">
        Thomas LaToza
      </div>
      <div>
        George Mason University
      </div>
    </div>
  </div>

  <div class="box">
    <div class="header lead">
    Organizing Committee
    </div>
    <div class="margin-bottom">
      <div class="slightlybold">
        Joshua Sunshine
      </div>
      <div>
        Carnegie Mellon University
      </div>
    </div>
    <div class="margin-bottom">
      <div class="slightlybold">
        Elena Glassman
      </div>
      <div>
        Harvard University
      </div>
    </div>
    <div>
      <div class="slightlybold">
        Sarah Chasins
      </div>
      <div>
        University of California, Berkeley
      </div>
    </div>
  </div>


  </td>
</tr>
</table>


  <div style="clear:both"></div>


        <div class="footer">
        </div>
      </div>
    

</body></html>

